<mat-card >
    <mat-card-header>
      <mat-card-title>Pf:{{teacher.name}}</mat-card-title>
      <mat-card-subtitle>Email:{{teacher.email}}</mat-card-subtitle>
      <mat-card-subtitle>Salaire:{{teacher.salaire}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-fab color="primary" routerLink="editteacher/{{index}}">
          <mat-icon>edite</mat-icon>
        </button>
      <button mat-fab color="warn"  (click)="deleteTeacher(index)">
          <mat-icon>delete</mat-icon>
        </button> 
        </mat-card-actions>
  </mat-card>