<div class="formbloc">
    <form class="example-form" [formGroup]="fgs" (ngSubmit)="onAddNewStudent(fgs.controls.student.controls)">
        <div class="formbloc" formGroupName="student">
            <h2>Create new student</h2>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Ex. Robert" formControlName="nameInput">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter email</mat-label>
                <input matInput placeholder="pat@example.com" required formControlName="emailInput">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Fillier</mat-label>
                <input matInput placeholder="Ex. IFSDM" formControlName="fillierInput">
            </mat-form-field>
            <button  mat-raised-button color="primary" type="submit" [disabled]="fgs.invalid">Create</button>
        </div>
    </form>
  </div>
